@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
/* custom styles */
.section{
    @apply mx-auto md:w-11/12
}
.active{
    @apply border-2 border-secondary text-secondary rounded-br-2xl rounded-tl-2xl font-semibold
}

.intro-background {
    background-image: url('./assets/intro-background.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position:left top;
    background-size: 75%;
}
.testimonal-bg-img {
    background-image: url('./assets/arrows-down.svg');
    background-repeat: no-repeat;
    background-position:right top;
    background-size: 11%;
}

.swiper-pagination {
    position: relative  !important;
   
    /* top: 1rem; */
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

span.swiper-pagination-bullet {
    width: 1rem;
    border-radius: 1rem;
    height: .3rem;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-secondary;
}

.testimonial-body {
min-height: 10.6rem
}
.bg-secondray-gradient {
    background-image: radial-gradient(circle at 53% 50%, #9d6527, #c08949 136%);

}

@tailwind utilities;
@layer components {}